
 <mat-form-field class="container"  > 
    <mat-label>Select Alert</mat-label>
      <mat-select  [(ngModel)]="selectedValue"  >
        <mat-option  *ngFor="let item of alertTypes"  [value]="item.name" (click)="weatherEvent(selectedValue)" >
          {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  
    <br><br>
   
    <mat-grid-list cols="4" rowHeight="3:2" >
      <mat-grid-tile  *ngFor="let data of areaDisplay" >
    <mat-accordion>
    <mat-expansion-panel class="p-3 border bg-light" style="margin: 10px;">
    <mat-expansion-panel-header>
      <mat-panel-title   >
        {{data}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <button mat-button (click)="getAreaDetails(data)">View!</button>
  </mat-expansion-panel>
</mat-accordion>
</mat-grid-tile>
</mat-grid-list>