
<div *ngIf="showSpinner" class="loader-container" >
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div >
<div class='divstyle'>
  <h2 *ngIf="!showSpinner">{{selectedAlertType}}</h2>
<table mat-table [dataSource]="dataSource"  *ngIf="!showSpinner"  class="mat-elevation-z8"> 
  <ng-container class="style" matColumnDef="areaDesc">
    <th mat-header-cell *matHeaderCellDef> AREA </th>
    <ng-container *matCellDef="let element">
    <td mat-cell *ngIf='this.selectedAlertType === element.event'  > {{element.areaDesc}} </td>
  </ng-container>
  </ng-container>

  <ng-container matColumnDef="affectedZones">
    <th mat-header-cell *matHeaderCellDef> Affected Zones </th>
    <ng-container *matCellDef="let element">
    <td mat-cell *ngIf='this.selectedAlertType === element.event' > {{element.affectedZones}} </td>
  </ng-container>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>